{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

		<div class="panel panel-info" >
        	
        	<div class="panel-heading">
                <div class="panel-title">{% trans "Change Password" %}</div>
            </div>

            <div style="padding-top:30px" class="panel-body" >
	    		<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
	        		{% csrf_token %}
	        		{{ form|crispy }}
	        		<button class="btn btn-success primaryAction" type="submit" name="action">{% trans "Change Password" %}</button>
                    <a class="btn btn-primary secondaryAction" href="{% url 'student_home' %}">{% trans "Cancel" %}</a>
	    		</form>
    		</div>

        </div>


	</div>



{% endblock %}

{% block contentb %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
